body {
    font-family: Arial, sans-serif;
    background-color: #b8b8b8;
    margin: 0;
    padding: 0;
}

.box {
    border: 2px solid #333;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
    text-align: center;
    background-color: #f0f0f0;
}

.cat-image {
    width: 100%;
    height: auto;
}

.inside-box-text {
    background: linear-gradient(90deg, rgb(255, 0, 0), rgb(255, 166, 0), rgb(255, 255, 0), rgb(0, 134, 0), rgb(0, 0, 255), rgb(72, 0, 124), rgb(238, 130, 238));
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400% 100%;
    animation: rainbow-text 3s linear infinite;
    }

    @keyframes rainbow-text {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 100% 50%;
        }
}